<html>

  <body style="background-color:black; color: white; margin-left: 16%;">
    <h1>Portfolio</h1>
    <p>Welcome to your Portfolio</p>
    <h1><%= @current_user.portfolio.portfolio_value %></h1>

  </body>

</html>
