<html>

  <body style="background-color:black; color: white; margin-left: 16%;">
    <h1 style="margin-bottom: 3%">Sell</h1>

    <% if @parameter %>
      <h1><%= @parameter %></h1>
    <% end %>
  </body>

</html>
